body {
    background-color: rgb(46, 102, 121);
  }
  
  h1 {
    color: White; text-align: right;
  }
  
  h2 {
    color: White;
  }
  
  h3{
    color: White;
  }

  p{
      color: White;
  }
  
  img[src="http://www.freeimageslive.com/galleries/sports/sportsgames/pics/airmaxshoe.jpg"] {
    width:100px;
    height:50px;
  }
  
  img[src="http://www.freeimageslive.com/galleries/food/fruitveg/pics/slived_kiwifruit.jpg"] {
    width:100px;
    height:100px;
  }

  img[src="http://clipart-library.com/data_images/206397.gif"] {
      width:200px;
      height:200px;
  }